body{background:#012;padding:0;margin:0;color:white;font-family:sans-serif;text-align:center;}
.hidden{display:none;}#menu{margin-top:100px;}
#escenario{position:relative;height:300px;}
#fondo{width:100%;height:100%;object-fit:cover;position:absolute;}
#robot{position:absolute;bottom:0;left:20px;width:160px;transition:0.4s;}
button{padding:15px 30px;font-size:20px;border:none;border-radius:10px;cursor:pointer;}